extends ../_layouts/base
include ../_modules/personal-control/personal-control

block config
  - var baseUrl = '../'

block content
  .action-script
    .container
      .action-script__heading.d-flex.align-items-center.justify-content-between
        .action-script__title
          | Всего скриптов: 
          b 5
        .action-script__btn
          button.btn.btn-primary.btn-lg(type='button')
            i.btn-icon.plus
            | добавить скрипт
    hr
    .container
      .action-script__summary
        | Вы можете добавить произвольное количество скриптов, но активным может быть только один из них.
      +personal-control()
      .text-right
        button.btn.btn-success.btn-lg(type='button')
          | удалить отмеченное