// personal-card styles
.personal-card

.personal-card
  max-height: calc(100vh - 60px  - 48px)
  overflow-y: auto

.personal-card__heading
  font-size: 18px
  line-height: (21/18)
  margin-bottom: 4px
  margin-top: 35px
  padding: 0 20px

.personal-card__item
  padding: 20px 20px 25px
  
  &--main
    background-color: #F9F9F9
    border-bottom: 1px solid #DCE0E2
    border-top: 1px solid #DCE0E2

    .personal-card__title
      text-transform: uppercase


.personal-card__title
  font-size: 17px
  font-weight: bold
  
  margin-bottom: 13px

.personal-card__btn
  .btn
    margin-bottom: 5px
    &:not(:last-child)
      margin-right: 5px
  


.personal-card__table

.bxinterface .personal-card__table
  font-size: 12px
  border-bottom: 1px solid #EEEBF1
  margin-bottom: 19px
  tr
    td
      &:nth-child(1)
        padding-left: 0
        width: 31%
      &:nth-child(2)
        background-color: #EEEBF1
    &:not(:nth-child(1))
      td
        &:nth-child(2)
          border-top-color: #fff
