mixin personal-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .personal-card__item.personal-card__item--main

    .personal-card__title
      | Конюхов федор
   
    table.table.personal-card__table
      tbody
        tr
          td Название лида
          td Путешественник
        tr
          td Фамилия
          td Конюхов
        tr
          td Имя
          td Федор    
        tr
          td ID
          td 7685
    .personal-card__btn
      button.btn.btn-success.btn-sm-4(type='button')
        | перезвонить
      button.btn.btn-outline-secondary.btn-sm-3(type='button')
        | кнопка
      button.btn.btn-outline-secondary.btn-sm-3(type='button')
        | кнопка 2
      button.btn.btn-primary.btn-sm-4(type='button') задание
      button.btn.btn-primary.btn-sm-3(type='button') отправить
  
  .personal-card__heading
    | История взаимодействий
  
  .personal-card__item
    .personal-card__title
      | Звонок
    table.table.personal-card__table
      tbody
        tr
          td Название лида
          td Путешественник
        tr
          td Фамилия
          td Конюхов
        tr
          td Имя
          td Федор    
        tr
          td ID
          td 7685
    .personal-card__btn
      button.btn.btn-success.btn-sm-4(type='button')
        | перезвонить
      button.btn.btn-outline-secondary.btn-sm-3(type='button')
        | кнопка
      button.btn.btn-outline-secondary.btn-sm-3(type='button')
        | кнопка 2
      button.btn.btn-primary.btn-sm-4(type='button') задание
      button.btn.btn-primary.btn-sm-3(type='button') отправить
  
  .personal-card__item
    .personal-card__title
      | Звонок
    table.table.personal-card__table
      tbody
        tr
          td Название лида
          td Путешественник
        tr
          td Фамилия
          td Конюхов
        tr
          td Имя
          td Федор    
        tr
          td ID
          td 7685
    .personal-card__btn
      button.btn.btn-success.btn-sm-4(type='button')
        | перезвонить
      button.btn.btn-outline-secondary.btn-sm-3(type='button')
        | кнопка
      button.btn.btn-outline-secondary.btn-sm-3(type='button')
        | кнопка 2
      button.btn.btn-primary.btn-sm-4(type='button') задание
      button.btn.btn-primary.btn-sm-3(type='button') отправить
