// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base * 0.9375, $btn-line-height, $btn-border-radius);
  text-transform: uppercase;
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    // box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled,
  &:disabled:hover,
  &.disabled:hover {
    background: #BDBDBD;
    border-color: #BDBDBD;
    // opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

.btn-primary {
  background: linear-gradient(to left, #971165 0%, #571C62 100%);
  &:hover,
  &:active,
  &:hover {
    border-color: transparent;
    background: linear-gradient(to right, #4C1656  0%, #701863 100%);
  }
  &:not(:disabled):not(.disabled).btn-sm-4 {
    background: #951265;
    &:hover,
    &:active,
    &:hover {
      background: #5A1B62;
    } 
  }
}
.btn-success {
  background: linear-gradient(to left, #8DC338 0%, #73AB24 100%);
  &:hover,
  &:active,
  &:hover {

    border-color: transparent;
    background: linear-gradient(to right, #669D1B  0%, #76AB2C 100%);
  }
  
  &:not(:disabled):not(.disabled).btn-sm-2,
  &:not(:disabled):not(.disabled).btn-sm-3 {
    background: #8DC338;
    &:hover,
    &:active,
    &:hover {
      background: #73AC24;
    } 
  }
}


@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}
.btn-outline-secondary {
  border-color: #BDBDBD;
  color: #373F48;
  &:hover,
  &:active,
  &:hover {
    border-color: #717A84;
    color: #373F48;
  }
  &.disabled,
  &:disabled,
  &:disabled:hover,
  &.disabled:hover {
    background-color: transparent;
    border-color: #E4E4E4;
    color: #95999D;
  }
}





//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-size: 14px;
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
    box-shadow: none;
    color: $link-hover-color;
  }

  &:disabled,
  &.disabled {
    border-color: transparent;
    background: transparent;
    color: #A69EB1;
    pointer-events: none;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  // padding: $input-btn-padding-y $input-btn-padding-x * 2
  @include button-size($btn-padding-y, 1rem, $font-size-base * 0.9375, $btn-line-height, $btn-border-radius);
}
.btn-lg-2 {
  @include button-size($btn-padding-y, 0.9rem, $font-size-base * 0.9375, $btn-line-height, $btn-border-radius);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}

.btn-sm-2 {
  @include button-size($btn-padding-y-sm, 1.2rem, 0.875rem, $btn-line-height-sm, $btn-border-radius-sm);
}

.btn-sm-3 {
  @include button-size(0.438rem, 1rem, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}
.btn-sm-4 {
  @include button-size(0.438rem, 1rem, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}
.btn-sm-5 {
  @include button-size(0.438rem, 1rem, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
