mixin personal-control(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .personal-control.custom-control.custom-checkbox
    input#customCheck1.custom-control-input(type='checkbox')
    label.custom-control-label(for='customCheck1').personal-control__label
      .personal-control__title Аренда бахил
      .personal-control__text
        | Многие известные личности призывают нас к новым свершениям, которые, в свою очередь, должны быть объявлены нарушающими общечеловеческие нормы этики и морали.
      .personal-control__btn
        .float-left
          button.btn.btn-success.btn-sm-2(type='button')
            | использовать
        .float-right
          button.btn.btn-link(type='button') удалить
          button.btn.btn-primary.btn-sm-2(type='button') редактировать

  .personal-control.personal-control--active.custom-control.custom-checkbox
    input#customCheck2.custom-control-input(type='checkbox' checked="true")
    label.custom-control-label(for='customCheck2').personal-control__label
      .personal-control__title Аренда бахил
      .personal-control__text
        | Многие известные личности призывают нас к новым свершениям, которые, в свою очередь, должны быть объявлены нарушающими общечеловеческие нормы этики и морали.
      .personal-control__btn
        .float-left
          button.btn.btn-success.btn-sm-2(type='button')
            | используется
        .float-right
          button.btn.btn-link(type='button') удалить
          button.btn.btn-primary.btn-sm-2(type='button') редактировать

  .personal-control.custom-control.custom-checkbox
    input#customCheck3.custom-control-input(type='checkbox')
    label.custom-control-label(for='customCheck3').personal-control__label
      .personal-control__title Аренда бахил
      .personal-control__text
        | Многие известные личности призывают нас к новым свершениям, которые, в свою очередь, должны быть объявлены нарушающими общечеловеческие нормы этики и морали.
      .personal-control__btn
        .float-left
          button.btn.btn-success.btn-sm-2(type='button')
            | использовать
        .float-right
          button.btn.btn-primary.btn-sm-2(type='button') редактировать



