// personal-control styles
.personal-control
  .bxinterface  &
    position: relative
    background-color: #F9F9F9
    padding-top: 18px
    padding-bottom: 20px
    padding-left: 76px
    padding-right: 20px

  &.personal-control--active
    background-color: #EEEBF1

    .btn-success:not(:disabled):not(.disabled)
    	.bxinterface  & 
	      font-weight: bold
	      color: #659B1A
	      background: transparent
	      pointer-events: none

.personal-control__title
  text-transform: uppercase
  font-weight: bold
  margin-bottom: 19px

.personal-control__text
  font-size: 13px
  line-height: 1.6
  margin-bottom: 19px

.personal-control__label
  .bxinterface &
    &:before
      top: 5px
      left: -55px

    &:after
      top: 5px
      left: -55px