extends ../_layouts/base

include ../_modules/action-control/action-control
include ../_modules/personal-control/personal-control

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  
  .container-fluid
    br
    br
    h2.text-uppercase Кнопки
    hr
    br
    br
    
    button.btn.btn-primary.btn-lg(type='button')
      i.btn-icon.plus
      | добавить скрипт
    button.btn.btn-primary.btn-lg(type='button' disabled)
      i.btn-icon.plus
      | добавить скрипт
    br
    br
    button.btn.btn-primary(type='button') отправить в отпуск
    button.btn.btn-primary(type='button' disabled) отправить в отпуск
    br
    br
    button.btn.btn-primary.btn-sm(type='button') Отправить
    button.btn.btn-primary.btn-sm(type='button' disabled) Отправить
    br
    br
    button.btn.btn-primary.btn-lg(type='button')
      i.btn-icon.plus
      | добавить кнопку действия
    button.btn.btn-primary.btn-lg(type='button' disabled)
      i.btn-icon.plus
      | добавить кнопку действия
    br
    br
    button.btn.btn-primary.btn-lg-2(type='button') cохранить
    button.btn.btn-primary.btn-lg-2(type='button' disabled) cохранить
    br
    br
    button.btn.btn-link(type='button') удалить
    button.btn.btn-link(type='button' disabled) удалить
    br
    br
    button.btn.btn-primary.btn-lg-2(type='button')
      i.btn-icon.plus
      | добавить роль
    br
    br
    button.btn.btn-primary.btn-sm-2(type='button') редактировать
    button.btn.btn-primary.btn-sm-2(type='button' disabled) редактировать
    br
    br
    button.btn.btn-primary.btn-sm-3(type='button') задание
    button.btn.btn-primary.btn-sm-4(type='button') задание
    button.btn.btn-primary.btn-sm-3(type='button' disabled) задание
    br
    br
    button.btn.btn-success.btn-lg(type='button')
      i.btn-icon.clo
      | удалить отмеченное
    
    button.btn.btn-success.btn-lg(type='button' disabled)
      i.btn-icon.clo
      | удалить отмеченное
    br
    br
    button.btn.btn-success.btn-lg(type='button')
      | добавить действие
    button.btn.btn-success.btn-lg(type='button' disabled)
      | добавить действие

    br
    br
    button.btn.btn-success.btn-sm-2(type='button')
      | удалить
    button.btn.btn-success.btn-sm-2(type='button' disabled)
      | удалить
    br
    br
    button.btn.btn-success.btn-sm-2(type='button')
      | использовать
    button.btn.btn-success.btn-sm-2(type='button' disabled)
      | использовать

    br
    br
    button.btn.btn-success.btn-sm-2(type='button')
      i.btn-icon.plus
      | добавить поле
    button.btn.btn-success.btn-sm-2(type='button' disabled)
      i.btn-icon.plus
      | добавить поле

    br
    br
    button.btn.btn-success.btn-sm-4(type='button')
      | перезвонить
    button.btn.btn-success.btn-sm-3(type='button')
      | перезвонить
    button.btn.btn-success.btn-sm-3(type='button' disabled)
      | перезвонить
    br
    br
    button.btn.btn-outline-secondary.btn-sm-3(type='button')
      | кнопка
    button.btn.btn-outline-secondary.btn-sm-3(type='button' disabled)
      | кнопка
    br
    br
    button.btn.btn-outline-secondary.btn-sm-3(type='button')
      i.btn-icon.arrow
      | список скриптов
    button.btn.btn-outline-secondary.btn-sm-3(type='button' disabled)
      i.btn-icon.arrow
      | список скриптов
    br
    br
    button.btn.btn-outline-secondary.btn-sm-5(type='button')
      i.btn-icon.arrow
    button.btn.btn-outline-secondary.btn-sm-5(type='button' disabled)
      i.btn-icon.arrow
    br
    br
    br
    br
    h2.text-uppercase Формы
    hr
    br
    br
    
    
    form(style="width:320px")
      .form-group
        input#exampleFormControlInput1.form-control(type='text')

      .form-group
        select#exampleFormControlSelect1.form-control
          option 1
          option 2
          option 3
          option 4
          option 5

      .form-group
        textarea#exampleFormControlTextarea1.form-control(rows='3')

      .form-group(style="width:150px")
        input.form-control#appt-time(type='time', name='appt-time', min='9:00', max='18:00', value="13:30")
    br
    br
    .custom-control.custom-radio
      input#customRadio0.custom-control-input(type='radio', name='customRadio')
      label.custom-control-label(for='customRadio0') Toggle this custom radio

    .custom-control.custom-checkbox
      input#customCheck1.custom-control-input(type='checkbox')
      label.custom-control-label(for='customCheck1') Check this custom checkbox


    .custom-control.custom-radio
      input#customRadio1.custom-control-input(type='radio', name='customRadio')
      label.custom-control-label(for='customRadio1') Toggle this custom radio
    
    .custom-control.custom-radio
      input#customRadio2.custom-control-input(type='radio', name='customRadio', disabled)
      label.custom-control-label(for='customRadio2') Or toggle this other custom radio

    .custom-control.custom-radio
      input#customRadio3.custom-control-input(type='radio', name='customRadio')
      label.custom-control-label(for='customRadio3') Or toggle this other custom radio

    .custom-control.custom-radio
      input#customRadio4.custom-control-input(type='radio', name='customRadio')
      label.custom-control-label(for='customRadio4') Or toggle this other custom radio
    br
    br
    h2.text-uppercase Таблицы
    hr
    br
    br
    div(style="max-width: 602px")
      .personal-card__item.personal-card__item--main
        .personal-card__title
          | Конюхов федор
        table.table.personal-card__table
          tbody
            tr
              td Название лида
              td Путешественник
            tr
              td Фамилия
              td Конюхов
            tr
              td Имя
              td Федор    
            tr
              td ID
              td 7685
        .personal-card__btn
          button.btn.btn-success.btn-sm-4(type='button')
            | перезвонить
          button.btn.btn-outline-secondary.btn-sm-3(type='button')
            | кнопка
          button.btn.btn-outline-secondary.btn-sm-3(type='button')
            | кнопка 2
          button.btn.btn-primary.btn-sm-4(type='button') задание
          button.btn.btn-primary.btn-sm-3(type='button') отправить
    br  
    br
    div(style="max-width: 802px")
      +personal-control()
    br  
    br
    div(style="max-width: 602px")  
      +action-control

    br
    br
    ul#myTab.nav.nav-tabs(role='tablist')
      li.nav-item
        a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Список обзвона
      li.nav-item
        a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') РСО
      li.nav-item
        a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') РСО Скрипт
    #myTabContent.tab-content
      #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab') 
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean. Pharetra sit amet aliquam id diam maecenas ultricies mi. Pellentesque nec nam aliquam sem et. Nunc lobortis mattis aliquam faucibus purus.
      #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean. Pharetra sit amet aliquam id diam maecenas ultricies mi. Pellentesque nec nam aliquam sem et. Nunc lobortis mattis aliquam faucibus purus.
      #contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean. Pharetra sit amet aliquam id diam maecenas ultricies mi. Pellentesque nec nam aliquam sem et. Nunc lobortis mattis aliquam faucibus purus.
    br
    br
    h2.text-uppercase Меню
    hr
    br
    br
    div(style="background:#E7EBED; padding:30px; ")

      .btn-group.dropright
        button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', data-display="static")
          | Dropleft
        .dropdown-menu
          .dropdown-wrap
            a.dropdown-item(href='#') Action
            a.dropdown-item.active(href='#') Another action
            a.dropdown-item(href='#') Something else here
            a.dropdown-item(href='#') Something else here
            a.dropdown-item(href='#') Something else here
            a.dropdown-item(href='#') Something else here
            a.dropdown-item(href='#') Something else here
            a.dropdown-item(href='#') Something else here
      br
      br
      .btn-group.dropright
        button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', data-display="static")
          | Dropleft
        .dropdown-menu.dropdown-menu--inverted
          .dropdown-wrap
            a.dropdown-item(href='#')
               | Action
            a.dropdown-item(href='#') 
                | Another action
            a.dropdown-item(href='#')
                | Something else here
            a.dropdown-item(href='#')
                | Something else here
      br
      br
      .btn-group.dropright
        button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', data-display="static")
          | Dropright search
        .dropdown-menu.dropdown-menu--sm
          .search-item
            input.form-control(type='text', placeholder='Search..')
          //- .dropdown-divider
          .dropdown-wrap
            a.dropdown-item(href='#about') About
            a.dropdown-item(href='#about') About
            a.dropdown-item(href='#about') About
            a.dropdown-item(href='#about') About
            a.dropdown-item(href='#about') About
            a.dropdown-item(href='#about') About
            a.dropdown-item(href='#about') About
            a.dropdown-item(href='#about') About
            a.dropdown-item(href='#about') About
      br
      br
      h3 Действия
      .text-muted.small.mb-3 Списки действий отдельные для лида, контакта или компании

      ul#pills-tab.nav.nav-pills(role='tablist')
        li.nav-item
          a#pills-home-tab.nav-link.active(data-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') Home
        li.nav-item
          a#pills-profile-tab.nav-link(data-toggle='pill', href='#pills-profile', role='tab', aria-controls='pills-profile', aria-selected='false') Profile
        li.nav-item
          a#pills-contact-tab.nav-link(data-toggle='pill', href='#pills-contact', role='tab', aria-controls='pills-contact', aria-selected='false') Contact
      #pills-tabContent.tab-content
        #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
          button.btn.btn-success.btn-sm-4(type='button')
            | перезвонить 1
        #pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='pills-profile-tab')
          button.btn.btn-success.btn-sm-4(type='button')
            | перезвонить 2
        #pills-contact.tab-pane.fade(role='tabpanel', aria-labelledby='pills-contact-tab')
           button.btn.btn-success.btn-sm-4(type='button')
             | перезвонить 3

      br
      br
    br
    br
    h2.text-uppercase Детали
    hr
    br
    br
    div(style="width:887px")
      .action-steps
        .action-steps__direction.action-steps__direction--right
          .action-steps__item
            | смена статуса
          .action-steps__item
            | задача
          .action-steps__item
            | встреча
          .action-steps__item
            | перезвон
          .action-steps__item
            | смена статуса
        .action-steps__direction.action-steps__direction--left
          .action-steps__item
            | задача
          .action-steps__item
            | перезвон
          .action-steps__item
            | завершение


    div(style="background:#C4C9D1; padding:30px; ")
      .action-tree

        ul
          li.action-tree__first
            .action-tree__item Приветствие
            
            ul
              li.action-tree__second
                .action-tree__item Заполнение формы
                
                ul.action-tree__third--custom
                  li
                    .action-tree__item Результат
                   
              li.action-tree__second
                .action-tree__item Планирование звонков
                
              li.action-tree__second
                .action-tree__item Встреча
                ul.action-tree__third--custom-2
                  li.action-tree__third
                   
                    .btn-group.dropright
                      .action-tree__item.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', data-display="static")
                        | Подведение итогов и планирование новой встречи
                      .dropdown-menu.dropdown-menu--iconed
                        .dropdown-wrap
                          a.dropdown-item(href='#')
                              .icon.pen
                              | Action
                          a.dropdown-item(href='#') 
                              .icon.del
                              | Another action
                          a.dropdown-item(href='#')
                              .icon.add
                              | Something else here
                        
        div(style="clear: both;")
    br
    br
    br
    br
    br
    br
    br
    br


