//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || './'


doctype html

html.bx-core.bx-no-touch.bx-no-retina.bx-chrome
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=1135')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='apple-itunes-app', content='app-id=561683423')
    link(rel='apple-touch-icon-precomposed', href='https://informunity.bitrix24.ru/images/iphone/57x57.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='https://informunity.bitrix24.ru/images/iphone/72x72.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='https://informunity.bitrix24.ru/images/iphone/114x114.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='https://informunity.bitrix24.ru/images/iphone/144x144.png')
    script(type='text/javascript', async='', src='../page_wrapper_files/ba.js.Без названия')
    script(type='text/javascript', data-skip-moving='true').
      (function(w, d, n) {var cl = "bx-core";var ht = d.documentElement;var htc = ht ? ht.className : undefined;if (htc === undefined || htc.indexOf(cl) !== -1){return;}var ua = n.userAgent;if (/(iPad;)|(iPhone;)/i.test(ua)){cl += " bx-ios";}else if (/Android/i.test(ua)){cl += " bx-android";}cl += (/(ipad|iphone|android|mobile|touch)/i.test(ua) ? " bx-touch" : " bx-no-touch");cl += w.devicePixelRatio && w.devicePixelRatio >= 2? " bx-retina": " bx-no-retina";var ieVersion = -1;if (/AppleWebKit/.test(ua)){cl += " bx-chrome";}else if ((ieVersion = getIeVersion()) > 0){cl += " bx-ie bx-ie" + ieVersion;if (ieVersion > 7 && ieVersion < 10 && !isDoctype()){cl += " bx-quirks";}}else if (/Opera/.test(ua)){cl += " bx-opera";}else if (/Gecko/.test(ua)){cl += " bx-firefox";}if (/Macintosh/i.test(ua)){cl += " bx-mac";}ht.className = htc ? htc + " " + cl : cl;function isDoctype(){if (d.compatMode){return d.compatMode == "CSS1Compat";}return d.documentElement && d.documentElement.clientHeight;}function getIeVersion(){if (/Opera/i.test(ua) || /Webkit/i.test(ua) || /Firefox/i.test(ua) || /Chrome/i.test(ua)){return -1;}var rv = -1;if (!!(w.MSStream) && !(w.ActiveXObject) && ("ActiveXObject" in w)){rv = 11;}else if (!!d.documentMode && d.documentMode >= 10){rv = 10;}else if (!!d.documentMode && d.documentMode >= 9){rv = 9;}else if (d.attachEvent && !/Opera/.test(ua)){rv = 8;}if (rv == -1 || rv == 8){var re;if (n.appName == "Microsoft Internet Explorer"){re = new RegExp("MSIE ([0-9]+[\\.0-9]*)");if (re.exec(ua) != null){rv = parseFloat(RegExp.$1);}}else if (n.appName == "Netscape"){rv = 11;re = new RegExp("Trident/.*rv:([0-9]+[\.0-9]*)");if (re.exec(ua) != null){rv = parseFloat(RegExp.$1);}}}return rv;}})(window, document, navigator);
    link(href='../page_wrapper_files/kernel_main_v1.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/intranet-common.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/kernel_sidepanel_v1.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/kernel_sidepanel_bitrix24_v1.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/socialnetwork.common.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/colorpicker.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/kernel_intranet_theme_picker_v1.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/media.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/loader.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/core_viewer.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/tasks.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/core_planner.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/tooltip.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/kernel_timeman_v1.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/core_timeman.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/core_finder.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/helper.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/phonenumber.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/kernel_im_v1.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/applayout.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/phone_call_view.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/kernel_ui_notification_v1.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/disk.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/file_dialog.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/core_access.min.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/default_42316269afa3c92f248a7071cee81a60_v1.css', type='text/css', rel='stylesheet')
    link(href='../page_wrapper_files/template_bx24_v1.css', type='text/css', data-template-style='true', rel='stylesheet')
    link(href='../page_wrapper_files/clock.min.css', type='text/css', data-template-style='true', rel='stylesheet')
    link(href='../page_wrapper_files/main.css', type='text/css', media='screen', data-template-style='true', data-theme-id='default:pattern-grey', rel='stylesheet')
    link(href='../page_wrapper_files/menu.css', type='text/css', media='screen', data-template-style='true', data-theme-id='default:pattern-grey', rel='stylesheet')
    link(href='../page_wrapper_files/messenger.css', type='text/css', media='screen', data-template-style='true', data-theme-id='default:pattern-grey', rel='stylesheet')
    link(href='../page_wrapper_files/style.css', type='text/css', media='screen', data-template-style='true', data-theme-id='default:pattern-grey', rel='stylesheet')
    link(rel='stylesheet', type='text/css', media='print', href='../page_wrapper_files/print.css')

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')

    block stylesheets
      link(rel='stylesheet', href= baseUrl + 'styles/main.css')

    title (12) Лучшее
    script(type='text/javascript', src='../page_wrapper_files/manager.js.Без названия')
  body.template-bitrix24.bitrix24-default-theme(style='padding-right: 0px;')
    //- 'start_frame_cache_title'
    //- 'end_frame_cache_title'
    #im-workarea-popup.bx-desktop.bx-im-fullscreen-popup.bx-im-fullscreen-popup-transparent.bx-im-fullscreen-closed
      table.bx-im-fullscreen-popup-table
        tbody
          tr
            td.bx-im-fullscreen-popup-td.bx-im-fullscreen-popup-td1(style='padding-right: 150px;')
              .bx-im-fullscreen-popup-logo
                span                              Демо Битрикс 24                         
              .bx-im-fullscreen-popup-back
                a.bx-im-fullscreen-popup-back-link(href='https://informunity.bitrix24.ru/', onclick='bxFullscreenClose(); return false;') Закрыть
          tr
            td.bx-im-fullscreen-popup-td.bx-im-fullscreen-popup-td2(style='padding-right: 1px;')
              #im-workarea-content.bx-desktop-placeholder.bx-desktop.bx-im-fullscreen-adaptive(style='max-width: 1530px;')
                .bx-desktop-appearance(style='min-height: 384px;')
                  .bx-desktop-appearance-menu(style='height: 598px;')
                    .bx-desktop-appearance-avatar
                      a.bx-desktop-avatar(href='https://informunity.bitrix24.ru/company/personal/user/96/', title='Михаил Васильев', target='_blank')
                        img.bx-desktop-avatar-img.bx-desktop-avatar-img-default(src='../page_wrapper_files/blank.gif', style='background-color: #8474c8')
                    .bx-desktop-appearance-tab
                      #bx-desktop-tab-im.bx-desktop-tab.bx-desktop-tab-im(data-id='im', title='Сообщения ')
                        span.bx-desktop-tab-counter
                          span.bx-desktop-tab-counter-digit 12
                        .bx-desktop-tab-icon.bx-desktop-tab-icon-im
                      #bx-desktop-tab-notify.bx-desktop-tab.bx-desktop-tab-notify.bx-desktop-tab-active(data-id='notify', title='Уведомления')
                        span.bx-desktop-tab-counter
                        .bx-desktop-tab-icon.bx-desktop-tab-icon-notify
                      #bx-desktop-tab-im-phone.bx-desktop-tab.bx-desktop-tab-im-phone(data-id='im-phone', title='Телефонный звонок')
                        span.bx-desktop-tab-counter
                        .bx-desktop-tab-icon.bx-desktop-tab-icon-im-phone
                      #bx-desktop-tab-config.bx-desktop-tab.bx-desktop-tab-config(data-id='config', title='Настройки')
                        span.bx-desktop-tab-counter
                        .bx-desktop-tab-icon.bx-desktop-tab-icon-config
                      #bx-desktop-sep-sep1536942347349.bx-desktop-separator(data-id='sep1536942347349')
                      #bx-desktop-tab-im-lf.bx-desktop-tab.bx-desktop-tab-im-lf(data-id='im-lf', title='Живая лента ')
                        span.bx-desktop-tab-counter
                        .bx-desktop-tab-icon.bx-desktop-tab-icon-im-lf
                  .bx-desktop-appearance-content(style='height: 598px;')
                    #bx-desktop-tab-content-im.bx-desktop-tab-content.bx-desktop-tab-content-im.bx-desktop-tab-content-active(data-id='im')
          tr
            td.bx-im-fullscreen-popup-td.bx-im-fullscreen-popup-td3(style='padding-right: 150px;')
              span.bx-im-fullscreen-apps
                span.bx-im-fullscreen-apps-title Установите приложение:
                span#im-workarea-apps.bx-im-fullscreen-apps-buttons
                  span.bx-im-fullscreen-apps-buttons-group
                    a.bx-im-fullscreen-app-icon.bx-im-fullscreen-app-windows(href='http://dl.bitrix24.com/b24/bitrix24_desktop.exe', target='_blank')
                    span.bx-im-fullscreen-apps-buttons-delimiter
                    a.bx-im-fullscreen-app-icon.bx-im-fullscreen-app-osx(href='http://dl.bitrix24.com/b24/bitrix24_desktop.dmg', target='_blank')
                    span.bx-im-fullscreen-apps-buttons-delimiter
                    a.bx-im-fullscreen-app-icon.bx-im-fullscreen-app-linux(href='https://github.com/buglloc/brick/', target='_blank')
                  span.bx-im-fullscreen-apps-buttons-group
                    a.bx-im-fullscreen-app-icon.bx-im-fullscreen-app-googleplay(href='https://play.google.com/store/apps/details?id=com.bitrix24.android', target='_blank')
                    span.bx-im-fullscreen-apps-buttons-delimiter
                    a.bx-im-fullscreen-app-icon.bx-im-fullscreen-app-appstore(href='https://itunes.apple.com/ru/app/bitrix24/id561683423', target='_blank')
              span.bx-im-fullscreen-bg
                span.bx-im-fulsscrenn-bg-title Фон:
                span.bx-im-fulsscrenn-bg-wrap
                  span#im-workarea-backgound-selector-title.bx-im-fulsscrenn-bg-wrap-title Прозрачный
                  select#im-workarea-backgound-selector.bx-im-fullscreen-bg-selector
                    option(value='transparent') Прозрачный
                    option(value='0') Битрикс24
                    option(value='1') Камни
                    option(value='2') Автомобиль
                    option(value='3') Дорога
                    option(value='4') Дюны
                    option(value='5') Природа
                    option(value='6') Снежные вершины
                    option(value='7') Колос
                    option(value='8') Горное озеро
                    option(value='9') Яхта в море
                    option(value='10') Париж
                    option(value='11') Пляж
                    option(value='12') Небо
    table.bx-layout-table
      tbody
        tr
          td.bx-layout-header
            #header
              #header-inner
                #timeman-container.timeman-container.timeman-container-ru
                  .timeman-wrap
                    span#timeman-block.timeman-block.timeman-start
                      span#timeman-timer.bx-time
                        span.time-hours 19
                        span.time-semicolon :
                        span.time-minutes 28
                      span#timeman-right.timeman-right-side
                        //- 'start_frame_cache_timeman-right'
                        span#timeman-info.timeman-info(style='display:none')
                          span#timeman-event.timeman-event(style='display:none')
                          span#timeman-tasks.timeman-tasks(style='display:none') 0
                        span#timeman-task-time.timeman-task-time(style='display:none')
                          i
                          span#timeman-task-timer
                        span#timeman-status-block.timeman-beginning-but
                          i
                          span#timeman-status Начать
                        //- 'end_frame_cache_timeman-right'
                      span.timeman-not-closed-block
                        span.timeman-not-cl-icon
                        span.timeman-not-cl-text
                          | Вы 
                          strong не закрыли
                          br
                          | предыдущий рабочий день.
                      span#timeman-background.timeman-background(style='display: block;')
                //- suppress CheckValidXmlInScriptTagBody
                script(type='text/javascript', data-skip-moving='true').
                  (function() {
                  var isAmPmMode = false;
                  var time = document.getElementById("timeman-timer");
                  var hours = new Date().getHours();
                  var minutes = new Date().getMinutes();
                  if (time)
                  {
                  time.innerHTML = formatTime(hours, minutes, 0, isAmPmMode);
                  }
                  else if (document.addEventListener)
                  {
                  document.addEventListener("DOMContentLoaded", function() {
                  time.innerHTML = formatTime(hours, minutes, 0, isAmPmMode);
                  });
                  }
                  function formatTime(hours, minutes, seconds, isAmPmMode)
                  {
                  var ampm = "";
                  if (isAmPmMode)
                  {
                  ampm = hours >= 12 ? "PM" : "AM";
                  ampm = '<span class="time-am-pm">' + ampm + '</span>';
                  hours = hours % 12;
                  hours = hours ? hours : 12;
                  }
                  else
                  {
                  hours = hours < 10 ? "0" + hours : hours;
                  }
                  return  '<span class="time-hours">' + hours + '</span>' + '<span class="time-semicolon">:</span>' +
                  '<span class="time-minutes">' + (minutes < 10 ? "0" + minutes : minutes) + '</span>' + ampm;
                  }
                  })();
                .header-logo-block
                  #sitemap-menu.sitemap-menu
                    span.sitemap-menu-lines
                  span.header-logo-block-util
                  a#logo_24_a.logo(href='https://informunity.bitrix24.ru/', title='На главную страницу')
                    span#logo_24_text
                      span.logo-text Демо Битрикс
                      span.logo-color 24
                    span.logo-img-span
                      img#logo_24_img(style='display:none;')
                    .header-logo-block-settings
                      span#b24_rename_button.header-logo-block-settings-item(onclick="location.href='/settings/configs/'; return false;", title='Настройки')
                .header-search.header-search-empty
                  .header-search-inner
                    form#search.header-search-form(method='get', name='search-form', onsubmit='return false;', action='https://informunity.bitrix24.ru/marketplace/')
                      input#search-textbox-input.header-search-input(name='q', type='text', autocomplete='off', placeholder='искать сотрудника, документ, прочее...', onclick="BX.addClass(this.parentNode.parentNode.parentNode,'header-search-active')", onblur="BX.removeClass(this.parentNode.parentNode.parentNode, 'header-search-active')")
                      span.header-search-icon.header-search-icon-title
                      span.search-title-top-delete
                //- 'start_frame_cache_XdqEv1'
                //- 'end_frame_cache_XdqEv1'
                #user-block.user-block(onclick='showUserMenu()')
                  span.user-img.user-default-avatar
                  span#user-name.user-name Михаил Васильев
                #bx-help-block.help-block(title='Помощь')
                  .help-icon-border
                  .help-block-icon
                  #bx-help-notify.help-block-counter-wrap
                    .help-cl-count
                      span.help-cl-count-digit 11
                //- 'start_frame_cache_b24_helper'
                //- 'end_frame_cache_b24_helper'
        tr
          td.bx-layout-cont
            table.bx-layout-inner-table.im-bar-mode
              tbody
                tr.bx-layout-inner-top-row
                  td#layout-left-column.bx-layout-inner-left
                    #bx-left-menu.menu-items-block
                      #left-menu-resizer.menu-resize-container
                        #left-menu-resizer-button.menu-resize-item(style='opacity: 0;')
                          span.menu-resize-btn
                      ul#left-menu-list.menu-items(style='position: static;')
                        li#left-menu-empty-item.menu-items-empty-li(style='height: 3px;')
                        li#bx_left_menu_menu_live_feed.menu-item-block.menu-item-live-feed(data-status='show', data-id='menu_live_feed', data-counter-id='**', data-link='/stream/', data-all-links='', data-type='default', data-delete-perm='N', data-new-page='N')
                          span.menu-fav-editable-btn.menu-favorites-btn.menu-fav-editable-btn-js(onclick="BX.Bitrix24.LeftMenuClass.openMenuPopup(this, 'menu_live_feed')")
                            span.menu-favorites-btn-icon
                          span.menu-favorites-btn.menu-favorites-draggable(onmousedown="BX.addClass(this.parentNode, 'menu-item-draggable');", onmouseup="BX.removeClass(this.parentNode, 'menu-item-draggable');")
                            span.menu-fav-draggable-icon
                          a.menu-item-link(href='https://informunity.bitrix24.ru/stream/', title='Живая лента', onclick='if (BX.Bitrix24.LeftMenuClass.isEditMode()) return false;\
                          ')
                            span.menu-item-link-text(data-role='item-text')
                              | Живая лента
                            span.menu-item-index-wrap
                              span#menu-counter-live-feed.menu-item-index
                        li#bx_left_menu_menu_crm_favorite.menu-item-block.menu-item-with-index(data-status='show', data-id='menu_crm_favorite', data-counter-id='crm_all', data-link='/crm/start/', data-all-links='/crm/,/crm/menu/', data-type='default', data-delete-perm='N', data-top-menu-id='crm_control_panel_menu', data-new-page='N')
                          span.menu-fav-editable-btn.menu-favorites-btn.menu-fav-editable-btn-js(onclick="BX.Bitrix24.LeftMenuClass.openMenuPopup(this, 'menu_crm_favorite')")
                            span.menu-favorites-btn-icon
                          span.menu-favorites-btn.menu-favorites-draggable(onmousedown="BX.addClass(this.parentNode, 'menu-item-draggable');", onmouseup="BX.removeClass(this.parentNode, 'menu-item-draggable');")
                            span.menu-fav-draggable-icon
                          a.menu-item-link(href='https://informunity.bitrix24.ru/crm/start/', title='CRM', onclick='if (BX.Bitrix24.LeftMenuClass.isEditMode()) return false;\
                          ')
                            span.menu-item-link-text(data-role='item-text')
                              | CRM
                            span.menu-item-index-wrap
                              span#menu-counter-crm_all.menu-item-index 8
                        li#bx_left_menu_menu_tasks.menu-item-block.menu-item-with-index(data-status='show', data-id='menu_tasks', data-counter-id='tasks_total', data-link='/company/personal/user/96/tasks/', data-all-links='/company/personal/user/96/tasks/', data-type='default', data-delete-perm='N', data-top-menu-id='tasks_panel_menu', data-new-page='N')
                          span.menu-fav-editable-btn.menu-favorites-btn.menu-fav-editable-btn-js(onclick="BX.Bitrix24.LeftMenuClass.openMenuPopup(this, 'menu_tasks')")
                            span.menu-favorites-btn-icon
                          span.menu-favorites-btn.menu-favorites-draggable(onmousedown="BX.addClass(this.parentNode, 'menu-item-draggable');", onmouseup="BX.removeClass(this.parentNode, 'menu-item-draggable');")
                            span.menu-fav-draggable-icon
                          span.menu-item-plus
                            a.menu-item-plus-icon(href='https://informunity.bitrix24.ru/company/personal/user/96/tasks/task/edit/0/')
                          a.menu-item-link(href='https://informunity.bitrix24.ru/company/personal/user/96/tasks/', title='Задачи и Проекты', onclick='if (BX.Bitrix24.LeftMenuClass.isEditMode()) return false;\
                          ')
                            span.menu-item-link-text(data-role='item-text')
                              | Задачи и Проекты
                            span.menu-item-index-wrap
                              span#menu-counter-tasks_total.menu-item-index 1
                        li#bx_left_menu_menu_im_messenger.menu-item-block.menu-item-with-index(data-status='show', data-id='menu_im_messenger', data-counter-id='im-message', data-link='/online/', data-all-links='', data-type='default', data-delete-perm='N', data-new-page='N')
                          span.menu-fav-editable-btn.menu-favorites-btn.menu-fav-editable-btn-js(onclick="BX.Bitrix24.LeftMenuClass.openMenuPopup(this, 'menu_im_messenger')")
                            span.menu-favorites-btn-icon
                          span.menu-favorites-btn.menu-favorites-draggable(onmousedown="BX.addClass(this.parentNode, 'menu-item-draggable');", onmouseup="BX.removeClass(this.parentNode, 'menu-item-draggable');")
                            span.menu-fav-draggable-icon
                          a.menu-item-link(href='https://informunity.bitrix24.ru/online/', title='Чат и звонки', onclick='if (BX.Bitrix24.LeftMenuClass.isEditMode()) return false;\
                          ')
                            span.menu-item-link-text(data-role='item-text')
                              | Чат и звонки
                            span.menu-item-index-wrap
                              span#menu-counter-im-message.menu-item-index 12
                        li#bx_left_menu_menu_all_groups.menu-item-block(data-status='show', data-id='menu_all_groups', data-counter-id='', data-link='/workgroups/', data-all-links='/workgroups/,/workgroups/menu/', data-type='default', data-delete-perm='N', data-top-menu-id='sonetgroups_panel_menu', data-new-page='N')
                          span.menu-fav-editable-btn.menu-favorites-btn.menu-fav-editable-btn-js(onclick="BX.Bitrix24.LeftMenuClass.openMenuPopup(this, 'menu_all_groups')")
                            span.menu-favorites-btn-icon
                          span.menu-favorites-btn.menu-favorites-draggable(onmousedown="BX.addClass(this.parentNode, 'menu-item-draggable');", onmouseup="BX.removeClass(this.parentNode, 'menu-item-draggable');")
                            span.menu-fav-draggable-icon
                          span.menu-item-plus
                            a.menu-item-plus-icon(href='https://informunity.bitrix24.ru/company/personal/user/96/groups/create/')
                          a.menu-item-link(href='https://informunity.bitrix24.ru/workgroups/', title='Группы', onclick='if (BX.Bitrix24.LeftMenuClass.isEditMode()) return false;\
                          ')
                            span.menu-item-link-text(data-role='item-text')
                              | Группы
                          span#menu-all-groups-link.menu-item-show-link развернуть
                        li#bx_left_menu_menu_files.menu-item-block(data-status='show', data-id='menu_files', data-counter-id='', data-link='/company/personal/user/96/disk/path/', data-all-links='/company/personal/user/96/disk/path/,/company/personal/user/96/disk/volume/,/company/personal/user/96/disk/,/docs/', data-type='default', data-delete-perm='N', data-top-menu-id='top_menu_id_docs', data-new-page='N')
                          span.menu-fav-editable-btn.menu-favorites-btn.menu-fav-editable-btn-js(onclick="BX.Bitrix24.LeftMenuClass.openMenuPopup(this, 'menu_files')")
                            span.menu-favorites-btn-icon
                          span.menu-favorites-btn.menu-favorites-draggable(onmousedown="BX.addClass(this.parentNode, 'menu-item-draggable');", onmouseup="BX.removeClass(this.parentNode, 'menu-item-draggable');")
                            span.menu-fav-draggable-icon
                          a.menu-item-link(href='https://informunity.bitrix24.ru/company/personal/user/96/disk/path/', title='Диск', onclick='if (BX.Bitrix24.LeftMenuClass.isEditMode()) return false;\
                          ')
                            span.menu-item-link-text(data-role='item-text')
                              | Диск
                        li#bx_left_menu_menu_external_mail.menu-item-block(data-status='show', data-id='menu_external_mail', data-counter-id='mail_unseen', data-link='/company/personal/mail/', data-all-links='', data-type='default', data-delete-perm='N', data-new-page='N')
                          span.menu-fav-editable-btn.menu-favorites-btn.menu-fav-editable-btn-js(onclick="BX.Bitrix24.LeftMenuClass.openMenuPopup(this, 'menu_external_mail')")
                            span.menu-favorites-btn-icon
                          span.menu-favorites-btn.menu-favorites-draggable(onmousedown="BX.addClass(this.parentNode, 'menu-item-draggable');", onmouseup="BX.removeClass(this.parentNode, 'menu-item-draggable');")
                            span.menu-fav-draggable-icon
                          a.menu-item-link(href='https://informunity.bitrix24.ru/company/personal/mail/', title='Почта', onclick='if (BX.Bitrix24.LeftMenuClass.isEditMode()) return false;\
                          ')
                            span.menu-item-link-text(data-role='item-text')
                              | Почта
                            span.menu-item-index-wrap
                              span#menu-counter-mail_unseen.menu-item-index
                            span#menu-counter-warning-mail_unseen.menu-post-warn-icon(onclick="window.location.replace('/company/personal/mail/?config'); return false; ", title='Изменить настройки')
                        li#bx_left_menu_menu_lists.menu-item-block(data-status='show', data-id='menu_lists', data-counter-id='undefined', data-link='/company/lists/', data-all-links='', data-type='standard', data-delete-perm='Y', data-new-page='N')
                          span.menu-fav-editable-btn.menu-favorites-btn.menu-fav-editable-btn-js(onclick="BX.Bitrix24.LeftMenuClass.openMenuPopup(this, 'menu_lists')")
                            span.menu-favorites-btn-icon
                          span.menu-favorites-btn.menu-favorites-draggable(onmousedown="BX.addClass(this.parentNode, 'menu-item-draggable');", onmouseup="BX.removeClass(this.parentNode, 'menu-item-draggable');")
                            span.menu-fav-draggable-icon
                          a.menu-item-link(href='https://informunity.bitrix24.ru/company/lists/', title='Универсальные списки', onclick='if (BX.Bitrix24.LeftMenuClass.isEditMode()) return false;\
                          ')
                            span.menu-item-link-text(data-role='item-text')
                              | Универсальные списки
                            span.menu-item-index-wrap
                              span#menu-counter-undefined.menu-item-index
                        li#bx_left_menu_menu_company.menu-item-block(data-status='show', data-id='menu_company', data-counter-id='', data-link='/company/vis_structure.php', data-all-links='/company/', data-type='default', data-delete-perm='N', data-top-menu-id='top_menu_id_company', data-new-page='N')
                          span.menu-fav-editable-btn.menu-favorites-btn.menu-fav-editable-btn-js(onclick="BX.Bitrix24.LeftMenuClass.openMenuPopup(this, 'menu_company')")
                            span.menu-favorites-btn-icon
                          span.menu-favorites-btn.menu-favorites-draggable(onmousedown="BX.addClass(this.parentNode, 'menu-item-draggable');", onmouseup="BX.removeClass(this.parentNode, 'menu-item-draggable');")
                            span.menu-fav-draggable-icon
                          a.menu-item-link(href='https://informunity.bitrix24.ru/company/vis_structure.php', title='Сотрудники', onclick='if (BX.Bitrix24.LeftMenuClass.isEditMode()) return false;\
                          ')
                            span.menu-item-link-text(data-role='item-text')
                              | Сотрудники
                        li#bx_left_menu_menu_marketplace_sect.menu-item-block.menu-item-active(data-status='show', data-id='menu_marketplace_sect', data-counter-id='', data-link='/marketplace/', data-all-links='/marketplace/', data-type='default', data-delete-perm='N', data-top-menu-id='top_menu_id_marketplace', data-new-page='N')
                          span.menu-fav-editable-btn.menu-favorites-btn.menu-fav-editable-btn-js(onclick="BX.Bitrix24.LeftMenuClass.openMenuPopup(this, 'menu_marketplace_sect')")
                            span.menu-favorites-btn-icon
                          span.menu-favorites-btn.menu-favorites-draggable(onmousedown="BX.addClass(this.parentNode, 'menu-item-draggable');", onmouseup="BX.removeClass(this.parentNode, 'menu-item-draggable');")
                            span.menu-fav-draggable-icon
                          a.menu-item-link(href='https://informunity.bitrix24.ru/marketplace/', title='Приложения', onclick='if (BX.Bitrix24.LeftMenuClass.isEditMode()) return false;\
                          ')
                            span.menu-item-link-text(data-role='item-text')
                              | Приложения
                        li#left-menu-hidden-items-block.menu-item-favorites-more(style='opacity: 0;')
                      #left-menu-more-btn.menu-favorites-more-btn
                        span.menu-favorites-more-text Ещё
                        span.menu-favorites-more-icon
                        span#menu-hidden-counter.menu-item-index.menu-item-index-more(style='display:none') 0
                      #menu-favorites-settings-btn.menu-favorites-settings-btn
                        span#left-menu-settings.menu-items-title-text
                          | Настроить меню
                        span.menu-favorites-btn-done(onclick='BX.Bitrix24.LeftMenuClass.applyEditMode();') Сохранить изменения
                      .menu-invite-employees
                        span.menu-invite-employees-text(onclick="B24.Bitrix24InviteDialog.ShowForm({'MESS':{'BX24_INVITE_TITLE_INVITE':'Пригласите коллег','BX24_INVITE_TITLE_ADD':'Добавить сотрудника','BX24_INVITE_BUTTON':'Пригласить','BX24_CLOSE_BUTTON':'Закрыть','BX24_LOADING':'Загрузка...'}})") Пригласить сотрудников
                    #left-menu-preset-popup.left-menu-popup-wrapper(style='display: none')
                      form(method='POST', name='left-menu-preset-form')
                        .left-menu-popup-close(onclick='BX.PopupWindowManager.getCurrentPopup().close();')
                          .left-menu-popup-close-item
                        //- left-menu-popup-close
                        .left-menu-popup-header
                          span.left-menu-popup-header-item
                            | Выберите, с чем вы планируете работать в 
                            span.left-menu-popup-header-link Битрикс24
                            |  чаще всего
                        //- left-menu-popup-header
                        .left-menu-popup-description
                          span.left-menu-popup-description-item
                            | Это упростит ежедневную работу: выбранный инструмент будет открываться первым, в меню останутся только нужные вам разделы. Поменять меню вы сможете в любое время.
                        //- left-menu-popup-description
                        .left-menu-popup-card-container
                          label.left-menu-popup-card-item.js-left-menu-preset-item(for='presetTypeCrm')
                            .left-menu-popup-card-item-title CRM
                            .left-menu-popup-card-item-icon-box.left-menu-popup-icon-crm
                              .left-menu-popup-card-item-icon
                            .left-menu-popup-card-item-info Продавать больше
                            .left-menu-popup-card-item-description повысить конверсию, общаться с клиентами
                            input#presetTypeCrm(type='radio', name='presetType', value='crm', style='display: none')
                          label.left-menu-popup-card-item.js-left-menu-preset-item(for='presetTypeTasks')
                            .left-menu-popup-card-item-title Задачи и проекты
                            .left-menu-popup-card-item-icon-box.left-menu-popup-icon-task
                              .left-menu-popup-card-item-icon
                            .left-menu-popup-card-item-info Работать вместе и успевать вовремя
                            .left-menu-popup-card-item-description следить за сроками и контролировать исполнение
                            input#presetTypeTasks(type='radio', name='presetType', value='tasks', style='display: none')
                          label.left-menu-popup-card-item.js-left-menu-preset-item.left-menu-popup-selected(for='presetTypeSocial')
                            .left-menu-popup-card-item-title Компания
                            .left-menu-popup-card-item-icon-box.left-menu-popup-icon-communication
                              .left-menu-popup-card-item-icon
                            .left-menu-popup-card-item-info Общаться и работать вместе
                            .left-menu-popup-card-item-description быстро решать любые вопросы
                            input#presetTypeSocial(type='radio', name='presetType', value='social', checked='', style='display: none')
                          label.left-menu-popup-card-item.js-left-menu-preset-item(for='presetTypeSites')
                            .left-menu-popup-card-item-title Сайты
                            .left-menu-popup-card-item-icon-box.left-menu-popup-icon-website
                              .left-menu-popup-card-item-icon
                            .left-menu-popup-card-item-info Создавать сайты, которые продают
                            .left-menu-popup-card-item-description самим создавать сайты и лендинги сразу в CRM
                            input#presetTypeSites(type='radio', name='presetType', value='sites', style='display: none')
                        //- left-menu-popup-card-container
                      .left-menu-popup-border
                    //- left-menu-popup-wrapper
                    #sitemap-content.sitemap-content
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/') Мои инструменты
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/stream/') Живая лента
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/personal/user/96/tasks/') Задачи и Проекты
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/sites/') Сайты
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/personal/user/96/calendar/') Календарь
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/personal/user/96/disk/path/') Диск
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/personal/user/96/photo/') Фотографии
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/personal/user/96/blog/') Сообщения
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/online/') Чат и звонки
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/personal/mail/') Почта
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/personal/bizproc/') Бизнес-процессы
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/company/personal/user/96/calendar/') Календарь
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/personal/user/96/calendar/') Мой календарь
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/calendar/') Календарь компании
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/company/personal/user/96/disk/path/') Диск
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/personal/user/96/disk/path/') Мой диск
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/docs/path/') Общий диск
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/docs/windows.php') Диск для Windows
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/docs/macos.php') Диск для macOS
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/personal/user/96/disk/volume/') Очистка места
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/crm/start/') CRM
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/start/') Старт
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/lead/list/') Лиды
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/deal/category/2/') Сделки
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/invoice/list/') Счета
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/quote/kanban/') Предложения
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/contact/list/') Контакты
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/company/list/') Компании
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/activity/') Мои дела
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/stream/') Лента
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/reports/report/') Отчёты
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/reports/') Воронка продаж
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/face-tracker/') Face-трекер
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/events/') История
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/product/index.php') Товары
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/webform/') CRM-формы
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/button/') Виджет на сайт
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/category/crm/') Приложения
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/configs/') Настройки
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/crm/crmplus/') CRM+
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/marketing/') CRM-маркетинг
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketing/') Старт
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketing/letter/') Рассылки
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketing/ads/') Реклама
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketing/segment/') Сегменты
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketing/rc/') Генератор продаж
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketing/template/') Мои шаблоны
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketing/blacklist/') Черный список
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketing/contact/') Список адресов
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketing/config.php') Настройки
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketing/config/role/') Права доступа
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/workgroups/') Группы
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/workgroups/group/22/') Тестовая группа
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/workgroups/group/14/') проект дом (тест)
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/workgroups/group/5/') Отдых
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/workgroups/group/18/') Исталяция серверов
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/workgroups/group/16/') тестовая группа
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/workgroups/group/24/') Ааа1
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/workgroups/group/1/') Маркетинг и реклама
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/workgroups/group/3/') Продажи
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/workgroups/group/12/') Проект 1
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/workgroups/group/28/') Проект запад
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/company/personal/bizproc/') Бизнес-процессы
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/personal/bizproc/') Задания бизнес-процессов
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/personal/processes/') Мои процессы
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/bizproc/processes/') Процессы в ленте
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/bizproc/bizproc/') Все активные
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/marketplace/') Приложения
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/') Все приложения
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/local/') Добавить приложение
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/local/list/') Мои приложения
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/hook/') Вебхуки
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/30/') Документация по REST API
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/34/') CallStat
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/44/') Проверка контрагентов
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/52/') Конструктор документов
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/82/') qwe
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/88/') ждун
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/90/') stat
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/92/') Reports with license(dev dbg)
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/96/') dich
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/98/') Reports (preprod)
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/100/') Больше действий БП
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/108/') AltiriaSMS
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/112/') SMSC.RU
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/120/') Облачная АТС Билайн
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/122/') Список обзвонов
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/124/') Монитор загрузки сотрудников
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/128/') Vue-users
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/132/') sigmaSMS
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/134/') АТС Цифра-Телеком
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/136/') Передача дел
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/140/') Asterisk Monitor
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/142/') astermon-test
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/144/') Панель супервайзера
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/146/') Astermon
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/148/') РСО
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/150/') Asterisk Control Panel
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/marketplace/app/154/') 2checkout
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/onec/') 1С + CRM Битрикс24
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/onec/') Face-карт
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/onec/tracker/') 1С-трекер
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/onec/report/') Отчеты 1С
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/onec/exchange/') Интеграция с CRM
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/company/vis_structure.php') Сотрудники
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/vis_structure.php') Структура компании
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/') Сотрудники
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/lists/') Списки
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/timeman/') Время и отчеты
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/timeman/') График отсутствий
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/timeman/timeman.php') Рабочее время
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/timeman/bitrix24time.php') Bitrix24.Time
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/timeman/work_report.php') Рабочие отчеты
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/timeman/meeting/') Собрания и планерки
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/openlines/') Открытые линии
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/') Статистика
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/list/') Список
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/connector/?ID=livechat') Онлайн-чат
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/connector/?ID=yandex') Яндекс чат
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/connector/?ID=viber') Viber
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/connector/?ID=telegrambot') Telegram
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/connector/?ID=vkgroup') ВКонтакте
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/connector/?ID=facebook') Facebook: Сообщения
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/connector/?ID=facebookcomments') Facebook: Комментарии
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/connector/?ID=instagram') Instagram
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/connector/?ID=network') Битрикс24.Network
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/connector/?ID=botframework') Skype, Slack, Office365 e-m...
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/button.php') Виджет на сайт
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/statistics.php') Детальная статистика
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/openlines/permissions.php') Права доступа
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/telephony/') Телефония
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/telephony/lines.php') Подключение
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/telephony/') Баланс и статистика
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/telephony/users.php') Пользователи
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/telephony/groups.php') Группы
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/telephony/phones.php') Аппараты
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/telephony/permissions.php') Права доступа
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/telephony/ivr.php') Голосовое меню
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/telephony/configs.php') Настройки
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/settings/license.php') Мой тариф
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/settings/license.php') Мой Битрикс24
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/settings/license_all.php') Расширенные тарифы
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/settings/license_demo.php') Демо-режим
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/settings/business_tools.php') Бизнес-инструменты
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/settings/order/') История заказов
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/settings/configs/') Настройки
                        .sitemap-section-items
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/settings/configs/') Настройки портала
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/company/personal/mail/manage/') Управление почтой
                          a.sitemap-section-item(href='https://informunity.bitrix24.ru/settings/configs/event_log.php') Журнал событий
                      .sitemap-section
                        a.sitemap-section-title(href='https://informunity.bitrix24.ru/contact_center/') Контакт-центр
                        .sitemap-section-items
                      #sitemap-close-link.sitemap-close-link(title='Закрыть')
                    #group-panel-content.group-panel-content.group-panel-content-favorites(data-filter='favorites')
                      .group-panel-header
                        span.group-panel-header-filters
                          span.group-panel-header-filter.group-panel-header-filter-all(data-filter='all') Мои группы
                          span.group-panel-header-filter.group-panel-header-filter-extranet(data-filter='extranet') Экстранет
                          span.group-panel-header-filter.group-panel-header-filter-favorites(data-filter='favorites')
                            | Избранное         
                            span#group-panel-header-filter-counter.group-panel-header-filter-counter
                      #group-panel-items.group-panel-items
                        a.group-panel-item.group-panel-item-intranet(href='https://informunity.bitrix24.ru/workgroups/group/22/', data-id='22')
                          span.group-panel-item-text(title='Тестовая группа') Тестовая группа
                          span.group-panel-item-star
                        a.group-panel-item.group-panel-item-intranet(href='https://informunity.bitrix24.ru/workgroups/group/14/', data-id='14')
                          span.group-panel-item-text(title='проект дом (тест)') проект дом (тест)
                          span.group-panel-item-star
                        a.group-panel-item.group-panel-item-extranet(href='https://informunity.bitrix24.ru/workgroups/group/16/', data-id='16')
                          span.group-panel-item-text(title='тестовая группа') тестовая группа
                          span.group-panel-item-star
                      #group-panel-close-link.sitemap-close-link.group-panel-close-link
                    //- 'start_frame_cache_im'
                    //- 'end_frame_cache_im'
                    #feed-up-btn-wrap.feed-up-btn-wrap(title='Наверх', onclick='B24.goUp();', style='left: 0px;')
                      .feed-up-btn
                        span.feed-up-text Наверх
                        span.feed-up-btn-icon
                  td#content-table.bx-layout-inner-center
                    //- 'start_frame_cache_workarea'
                    table.bx-layout-inner-inner-table.top-menu-mode
                      colgroup
                        col.bx-layout-inner-inner-cont
                      tbody
                        tr.bx-layout-inner-inner-top-row
                          td.bx-layout-inner-inner-cont
                            .page-header
                              
                              .pagetitle-wrap
                                .pagetitle-inner-container
                                  #pagetitle-menu.pagetitle-menu.pagetitle-container.pagetitle-last-item-in-a-row
                                  .pagetitle
                                    span#pagetitle.pagetitle-item Лучшее
                                    span#pagetitle-star.pagetitle-star.pagetitle-star-active(title='Страница уже находится в левом меню')
                              .pagetitle-below
                        tr
                          td.bx-layout-inner-inner-cont
                            #workarea
                              #sidebar
                              #workarea-content
                                .bxinterface
                                  block content

                    //- 'end_frame_cache_workarea'
                tr
                  td#layout-left-column-bottom.bx-layout-inner-left
                  td.bx-layout-inner-center
                    #footer
                      span#copyright
                        span#bx-lang-btn.bx-lang-btn.ru(onclick='B24.openLanguagePopup(this)', data-langs='{"en": "English", "de": "Deutsch", "la": "Español", "br": "Português (BR)", "fr": "Français, beta", "pl": "Polski, beta", "ru": "Русский", "ua": "Українська", "tr": "Türkçe, beta", "sc": "中文（简体）", "tc": "中文（繁體）", "ja": "日本語, beta"}')
                          span.bx-lang-btn-icon
                        a#bitrix24-logo.bitrix24-logo-ru(target='_blank', href='https://www.bitrix24.ru/')
                        span.bitrix24-copyright © «Битрикс», 2018
                        a.footer-discuss-link(href='javascript:void(0)', onclick="showPartnerForm({'MESS':{'BX24_PARTNER_TITLE':'Персональная поддержка','BX24_CLOSE_BUTTON':'Закрыть','BX24_LOADING':'загрузка'}}); return false;") Связаться с партнером
                        span.footer-link(onclick='BX.Intranet.Bitrix24.ThemePicker.Singleton.showDialog()') Тема оформления
                        span.footer-link(onclick='window.scroll(0, 0); setTimeout(function() {window.print()}, 0)') Печать
