mixin action-control(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .action-control
    .action-control__head
      | Обмен бахил

    .action-control__descr
      | Выберите, какие данные и действия будут доступны пользователям с этой ролью
    
    .d-flex.justify-content-around.action-control__param
      div
        | Поле
      div
        | Наследование
    table.table
      thead
        tr
          th(colspan="3")
            .action-control__title.float-left 
              | Настройка
          
            .float-right
              button.btn.btn-success.btn-sm-2(type='button')
                i.btn-icon.plus
                | добавить поле
      tbody
        tr
          td Скрипты продаж
          td
            .custom-control.custom-checkbox
              input#customCheck3.custom-control-input(type='checkbox')
              label.custom-control-label(for='customCheck3')
          td
            .float-right
              button.btn.btn-link.btn-sm-2(type='button')
                i.btn-icon.del
        tr
          td Скрипты продаж
          td
            .custom-control.custom-checkbox
              input#customCheck4.custom-control-input(type='checkbox')
              label.custom-control-label(for='customCheck4')
          td
            .float-right
              button.btn.btn-link.btn-sm-2(type='button')
                i.btn-icon.del
        tr
          td Скрипты продаж
          td
            .custom-control.custom-checkbox
              input#customCheck5.custom-control-input(type='checkbox')
              label.custom-control-label(for='customCheck5')
          td
            .float-right
              button.btn.btn-link.btn-sm-2(type='button')
                i.btn-icon.del
  
    table.table
      thead
        tr
          th(colspan="3")
            .action-control__title 
              | Настройка
          
      tbody
        tr
          td
            .float-left.action-control__title
              | Скрипты продаж
          td
            .custom-control.custom-checkbox
              input#customCheck6.custom-control-input(type='checkbox')
              label.custom-control-label(for='customCheck6')
          td
            
        tr
          td Скрипты продаж
          td
            .custom-control.custom-checkbox
              input#customCheck7.custom-control-input(type='checkbox')
              label.custom-control-label(for='customCheck7')
          td
            .float-right
              button.btn.btn-link.btn-sm-2(type='button')
                i.btn-icon.del
        tr
          td Скрипты продаж
          td
            .custom-control.custom-checkbox
              input#customCheck8.custom-control-input(type='checkbox')
              label.custom-control-label(for='customCheck8')
          td
            
        tr
          td Скрипты продаж
          td
            .custom-control.custom-checkbox
              input#customCheck9.custom-control-input(type='checkbox')
              label.custom-control-label(for='customCheck9')
          td
            .float-right
              button.btn.btn-link.btn-sm-2(type='button')
                i.btn-icon.del