// action-control styles
.action-control
  .table
    margin-bottom: 0
    width: 100%

    thead
      background: #571C62
      color: #fff
      font-weight: bold

      th
        padding: 5px 5px 5px 15px
        vertical-align: middle

    tr
      &:nth-child(even)
        background: #F9F9F9

    td
      font-size: 12px
      padding: 3px 14px
      vertical-align: middle
      border-top: none
      &:nth-child(1)
        width: 46%
      &:nth-child(2)
        width: 32px
        padding-left: 4px
        padding-right: 4px
        border-left: 1px solid #EEEBF1
        border-right: 1px solid #EEEBF1

  .custom-checkbox
    padding-left: 0
    margin-bottom: 0

  .custom-control-label
    width: 32px
    height: 32px
    display: block
    &:before,
    &:after  
      top: 0
      left: 0
      
.action-control__head
  font-size: 18px
  line-height: (21/18)
  margin-bottom: 16px

.action-control__descr
  font-size: 12px
  line-height: (14/12)
  color: #8C8C8C
  margin-bottom: 34px

.action-control__param
  font-size: 12px
  line-height: (14/12)
  text-transform: uppercase
  font-weight: bold
  margin-bottom: 16px
  


.action-control__title
  padding: 9px 0