extends ../_layouts/base
include ../_modules/personal-control/personal-control
include ../_modules/personal-card/personal-card

block config
  - var baseUrl = '../'

block content
  .action-script
    .container
      .action-script__heading.d-flex.align-items-center.justify-content-between
        .action-script__title
          | Всего скриптов: 
          b 5
        .action-script__btn
          button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#exampleModal')
            i.btn-icon.plus
            | добавить скрипт
    hr
    .container
      .action-script__summary
        | Вы можете добавить произвольное количество скриптов, но активным может быть только один из них.
      +personal-control()
      .text-right
        button.btn.btn-success.btn-lg(type='button')
          | удалить отмеченное

  //- Modal
  #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog.modal-lg.personal-window(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
          
          .modal-body
            .d-flex.flex-row
              .personal-window__pic
                img(src="https://via.placeholder.com/610x850")
              .personal-window__body
                ul#myTab.nav.nav-tabs(role='tablist')
                  li.nav-item
                    a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Список обзвона
                  li.nav-item
                    a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') РСО
                  li.nav-item
                    a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') РСО Скрипт
                #myTabContent.tab-content
                  #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab') 
                    .personal-card
                      +personal-card()
                  #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
                    | 2

                  #contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
                    | 3
